*{
    margin: 0;
    padding: 0;
}

nav{
    padding: 5px;
}
nav a{
    text-decoration: none;
    margin: 55px;
    padding: 12px;
}
header{
    background-color: palegreen;
    height: 30px;
}

.second{
    height: 50px;
    width: 50px;
    background-color: green;
    border-radius: 50%;
}

.box{
    height: 100px;
    width: 100px;
    background-color: blueviolet;
    margin: 5px;
    display: inline-block;
}
.container{
    border: 3px solid black;
    margin: 5px;
}
#box4{
    position: fixed;
    right: 10px;
}
#box2{
    z-index: 2;
    position: absolute;
    left: 20px;
}
footer{
    position: fixed;
    bottom: 0;
    background-color: aqua;
}