.progress-container{
    height: 25px;
    background-color: gainsboro;
    width: 90%;
    border: 2px solid black;
    border-radius: 20px;
    position: relative;
    left: 4%;
}
.progress-bar{
    background-color: mediumorchid;
    height: 100%;
    border-radius: 20px;
    animation: animate_progress 5s;
}

@keyframes animate_progress{
    0% {width: 0%;}
    90% {width: 95%;}
    95% {width: 75%;}
    100% {width: 100%;}

}