img{
    height: 100px;
}

#image_container{
    border: 2px solid black;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box{
    height: 100px;
    width: 75px;
    border: 2px solid red;
}

#box-container{
    border: 2px solid blue;
    display: flex;
    justify-content: space-around;
    height: 100px;
    width: 350px;
}
#box2{
    flex-grow: 1;
    flex-shrink: 1;
}

#media_box{
    height: 50px;
    width: 50px;
    background-color: darkslateblue;
}

/* ------------------ */

@media  screen and (min-width: 300px) and (max-width: 400px){
    #media_box{
        background-color: red;
    }
    
}

@media  screen and (min-width: 400px){
    #media_box{
        background-color: green;
    }
    
}